<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de alunos</title>
</head>
<body>
    <h1>Lista de alunos cadastrados</h1>
    {% if alunos %}
    <table border="1">
        <tr>
            <th>Ra</th>
            <th>Nome</th>
            <th>Tempo estudo</th>
            <th>Renda familiar</th>
        </tr>
        {% for aluno in alunos %}
            <tr>
                <td>{{aluno.ra}}</td>
                <td>{{aluno.nome}}</td>
                <td>{{aluno.tempoestudo}}</td>
                <td>{{aluno.rendafamiliar}}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Nenhum aluno cadastrado</p>
    {% endif %}
</body>
</html>